@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

body {
    background-color: #e9ecef;
    align-items: flex-start;
    display: flex;
	font-family: 'Montserrat';
}

.Content{
	margin:auto;
    display: block;
    align-items: flex-start;
    height: 2160px;
    width: 1920px;
}
#Cards{
	display: grid;
	gap: 60px;
}


h1{
	text-align:center;
	font-size:35px;
}

.innerText{
	margin-left:10px;
	text-align:center;
	font-size: 25px;
}

.rectangle1 {
	position:relative;
	grid-column-start:1;
	grid-column-end:10;
	grid-row-start:1;
	grid-row-end:3;
	margin-left:20px;
    height: 800px;
    width:634px;
    background-color: #e0fbfc;
    border-radius: 20px;
	border: 1px black solid;

    }


.rectangle2 {
	position:relative;
	grid-column-start:11;
	grid-column-end:20;
	grid-row-start:1;
	grid-row-end:1;
    height: 650px;
    width:634px;
    background-color: #e0fbfc;
    border-radius: 20px;
    border: 1px black solid;
}

.rectangle3 {
	grid-column-start:1;
	grid-column-end:20;
	grid-row-start:2;
	grid-row-end:4;
    height: 650px;
    width:834px;
	margin-top: 100px;
	margin-left:20px;
    background-color: #e0fbfc;
    border-radius: 20px;
    border: 1px black solid;
}


.rectangle4 {
	position:relative;
	grid-column-start:13;
	grid-column-end:31;
	grid-row-start:2;
	grid-row-end:2;
    height: 750px;
    width:534px;
    background-color: #e0fbfc;
    border-radius: 20px;
    border: 1px black solid;
}

.logo{
	position:fixed;
	right:0;
}
.logo img{
	height: 45px;
	width:45px;
}

#AutoImage img{
	height: 20rem;
	margin-left: 1rem;
	position:relative;
	bottom:1.1rem;
}

#PersonIcon i{
	font-size: 30rem;
	position:absolute;
	bottom:-6.5rem;
	right: -3.8rem;
	color:#22BBA9;
	opacity:0.25;
	padding:0;
}
#CodeIcon i{
	font-size: 25rem;
	position:absolute;
	bottom:-3rem;
	right:0;
	color:#22BBA9;
	opacity:0.25;
	padding:0;
}

#FreeImage img{
	width: 50rem;
	margin: 0 1rem;
}

.ContactIcon{
	width: 100px;
	margin: 5rem auto;
	position:relative;
}

.ContactIcon i{
	font-size: 5rem;
	padding:10px;
}

a{
	color:black;
}

@media screen and (max-width: 1600px){
	#Cards{
		display: block;
	}

}